/*
0px			- 		300px:			Phone300

0px  		-		500px:			Phone Small
500px		- 		600px:			Phone
600px		-		750px:			Tablet Portrait 2
750px		- 		900px: 			Tablet Portrait 
900px		-		1200px:			Tablet Landscape
1200px		-		1800px:			Desktop First Approach (is where our 
									normal styles apply)
900px +								Tablet Portrait and bigger
1800px +							Big Desktop

@mixin respond-phone {
	@media (max-width: 600px) { @content};
}

$breakpoint argument choices
	- phone600 and <
	- tablet-portrait and <
	- tablet-landscape and <
	- big-desktop and >

ORDER: base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
}

h1,
p {
  color: rgba(255, 255, 255, 0.644);
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 2.5rem;
  min-height: 15vh;
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bc97ec;
  min-height: 85vh;
  position: relative;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 0.5rem;
  width: 6rem;
  height: 9rem;
  position: absolute;
  bottom: 30vh;
  left: 10vw;
}
.switch__toggleswitch {
  width: 1.5rem;
  height: 3.5rem;
}
.switch__toggleswitch--on {
  background-color: rgba(13, 13, 13, 0.2);
  border-top: 2px solid rgba(138, 138, 138, 0.918);
  border-right: 2px solid rgba(160, 160, 160, 0.918);
  border-left: 2px solid rgba(160, 160, 160, 0.918);
  height: 1.4rem;
  clip-path: polygon(5% 70%, 0 0, 100% 0, 95% 70%, 95% 100%, 5% 100%);
}
.switch__toggleswitch--off {
  background-color: rgba(13, 13, 13, 0.2);
  border-bottom: 2px solid rgba(138, 138, 138, 0.918);
  border-right: 2px solid rgba(160, 160, 160, 0.918);
  border-left: 2px solid rgba(160, 160, 160, 0.918);
  height: 1.4rem;
  clip-path: polygon(0 0, 0 100%, 5% 30%, 5% 0, 95% 0, 95% 30%, 100% 100%, 0 100%);
}

.lightbulb {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 45%;
}
.lightbulb__cord {
  background-color: #070808;
  width: 0.5rem;
  min-height: 20vh;
}
.lightbulb__shade {
  background-color: #223b3b;
  width: 10rem;
  min-height: 10vh;
  clip-path: polygon(0 0, 0 100%, 45% 0, 57% 0, 100% 100%, 0 100%);
}
.lightbulb__bulb {
  background-color: rgba(255, 255, 255, 0.644);
  border: 2px solid gray;
  border-top: none;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 3.5rem;
  min-height: 5vh;
}

.lightSwitchColorToggle {
  background-color: #ffc400;
  box-shadow: 0px 10px 10px white, 15px 10px 20px white, -15px 10px 20px white, 10px 15px 20px white, -10px 15px 20px white, 0px 20px 20px white;
}

.darkRoomColorToggle {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.911) 10%, rgba(0, 0, 0, 0.493) 80%);
  background-size: cover;
}

.lightSwitchToggleONBtnColor {
  background: linear-gradient(to bottom, rgba(13, 13, 13, 0.5) 30%, rgba(13, 13, 13, 0.2) 80%);
}

.lightSwitchToggleOFFBtnColor {
  background: linear-gradient(to top, rgba(13, 13, 13, 0.5) 30%, rgba(13, 13, 13, 0.2) 80%);
}

.switchOn-clip {
  clip-path: polygon(5% 70%, 10% 5%, 90% 5%, 95% 70%, 95% 100%, 5% 100%);
}

.switchOff-clip {
  clip-path: polygon(5% 0, 95% 0, 95% 30%, 90% 95%, 10% 95%);
}

/*# sourceMappingURL=styles.css.map */
