// switch border colors
$border-color-notFlippedLeftOrRight: rgba(160, 160, 160, 0.918);
$border-color-notFlippedTopOrBottom: rgba(138, 138, 138, 0.918);
$border-color-standard: rgba(95, 95, 95, 0.918);
