.header {
	background-color: black;
	padding: 30px;
}
h1,
p {
	color: rgb(226, 221, 221);
	text-align: center;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
}

.room {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: lightsteelblue;
	min-height: 95vh;

	position: relative;
}

.switch {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: grey;
	border-radius: 5px;
	width: 60px;
	height: 90px;

	position: absolute;
	bottom: 30vh;
	left: 10vw;

	&__toggleswitch {
		width: 15px;
		height: 35px;

		&--on {
			background-color: rgb(99, 110, 121);
			height: 17.5px;
		}

		&--off {
			background-color: rgb(85, 97, 109);
			height: 17.5px;
		}
	}
}

.lightbulb {
	// display: flex;
	// flex-direction: column;
	// justify-content: center;

	background-color: black;
	min-width: 100px;
	min-height: 50px;

	position: absolute;
	top: 0;
	left: 45%;

	&__cord {
		background-color: rgb(7, 8, 8);
		max-width: 5px;
		min-height: 20vh;
	}
	&__shade {
		background-color: rgb(34, 59, 59);
		min-height: 10vh;
	}
	&__bulb {
		background-color: rgb(196, 226, 23);
		min-height: 10vh;
	}
}

.lightSwitchColorToggle {
	background-color: red;
}
