.header {
	background-color: black;
	padding: 30px;
}
.room {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $color-background-wall;

	min-height: 95vh;

	position: relative;
}
.switch {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $color-background-switch;
	border-radius: $border-radius-switch;
	width: 6rem;
	height: 9rem;

	position: absolute;
	bottom: 30vh;
	left: 10vw;

	&__toggleswitch {
		width: 1.5rem;
		height: 3.5rem;

		&--on {
			background-color: $color-background-switchONandOFF;

			border-top: 2px solid $color-border-TopOrBottom;
			border-right: 2px solid $color-border-LeftOrRight;
			border-left: 2px solid $color-border-LeftOrRight;
			height: 1.4rem;

			clip-path: polygon(5% 70%, 0 0, 100% 0, 95% 70%, 95% 100%, 5% 100%);
		}
		&--off {
			background-color: $color-background-switchONandOFF;

			border-bottom: 2px solid $color-border-TopOrBottom;
			border-right: 2px solid $color-border-LeftOrRight;
			border-left: 2px solid $color-border-LeftOrRight;
			height: 1.4rem;

			clip-path: polygon(
				0 0,
				0 100%,
				5% 30%,
				5% 0,
				95% 0,
				95% 30%,
				100% 100%,
				0 100%
			);
		}
	}
}
.lightbulb {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	left: 45%;
	&__cord {
		background-color: $color-background-light-cord;
		width: .5rem;
		min-height: 20vh;
	}
	&__shade {
		background-color: $color-background-lampshade;
		width: 10rem;
		min-height: 10vh;
		clip-path: polygon(0 0, 0 100%, 45% 0, 57% 0, 100% 100%, 0 100%);
	}
	&__bulb {
		background-color: $color-background-lightbulb-off;
		border: 2px solid $color-border-lightbulb;
		border-top: none;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		width: 3.5rem;
		min-height: 5vh;
	}
}
.lightSwitchColorToggle {
	background-color: $color-background-lightbulb-on;
	box-shadow: 0px 10px 10px rgb(255, 255, 255),
		15px 10px 20px rgb(255, 255, 255), -15px 10px 20px rgb(255, 255, 255),
		10px 15px 20px rgb(255, 255, 255), -10px 15px 20px rgb(255, 255, 255),
		0px 20px 20px rgb(255, 255, 255);
}
.darkRoomColorToggle {
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.911) 10%,
		rgba(0, 0, 0, 0.493) 80%
	);
	background-size: cover;
}
.lightSwitchToggleONBtnColor {
	background: linear-gradient(
		to bottom,
		rgba(13, 13, 13, .5) 30%,
		rgba(13, 13, 13, .2) 80%
	);
}
.lightSwitchToggleOFFBtnColor {
	background: linear-gradient(
		to top,
		rgba(13, 13, 13, .5) 30%,
		rgba(13, 13, 13, .2)80%
	);
}
.switchOn-clip {
	clip-path: polygon(5% 70%, 10% 5%, 90% 5%, 95% 70%, 95% 100%, 5% 100%);
}
.switchOff-clip {
	clip-path: polygon(5% 0, 95% 0, 95% 30%, 90% 95%, 10% 95%);
}
